@import 'tailwindcss';
@import 'tailwindcss/theme.css'
  layer(
    theme
  );
@import 'tailwindcss/preflight.css'
  layer(
    base
  );
@import 'tailwindcss/utilities.css'
  layer(
    utilities
  );

@theme {
  /* Main Colors */
  --color-main1: #13df6f;
  --color-main2: #dcffec;
  --color-main3: #edfff5;
  --color-error: #e53060;

  /* Sub Colors */
  --color-disabled: #d8dad9;
  --color-error: #e53060;

  /* Stroke Colors */
  --color-stroke1: #95a09a;
  --color-stroke2: #e7ecea;

  /* BackGround Colors */
  --color-white: #ffffff;
  --color-b1: #f7f9f8;
  --color-b2: #f3f6f5;

  /* Typography Colors */
  --color-t1: #212221;
  --color-t2: #616161;
  --color-t3: #9e9e9e;
  --color-t4: #c9cac9;
  --color-t5: #dddddd;

  /* Radius */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 10px;
  --radius-xl: 20px;

  /* Font Styles */
  --font-10b: 700
    10px/140%
    Pretendard;
  --font-10r: 400
    10px/140%
    Pretendard;
  --font-12b: 700
    12px/140%
    Pretendard;
  --font-12r: 400
    12px/140%
    Pretendard;
  --font-14b: 700
    14px/140%
    Pretendard;
  --font-14r: 400
    14px/140%
    Pretendard;
  --font-16b: 700
    16px/140%
    Pretendard;
  --font-16r: 400
    16px/140%
    Pretendard;
  --font-20b: 700
    20px/140%
    Pretendard;
  --font-20r: 400
    20px/140%
    Pretendard;
  --font-24b: 700
    24px/140%
    Pretendard;
  --font-24r: 400
    24px/140%
    Pretendard;
  --font-26b: 700
    26px/140%
    Pretendard;
  --font-26r: 400
    26px/140%
    Pretendard;
}

@layer utilities {
  .font-10b {
    font: var(
      --font-10b
    );
  }
  .font-10r {
    font: var(
      --font-10r
    );
  }
  .font-12b {
    font: var(
      --font-12b
    );
  }
  .font-12r {
    font: var(
      --font-12r
    );
  }
  .font-14b {
    font: var(
      --font-14b
    );
  }
  .font-14r {
    font: var(
      --font-14r
    );
  }
  .font-16b {
    font: var(
      --font-16b
    );
  }
  .font-16r {
    font: var(
      --font-16r
    );
  }
  .font-20b {
    font: var(
      --font-20b
    );
  }
  .font-20r {
    font: var(
      --font-20r
    );
  }
  .font-24b {
    font: var(
      --font-24b
    );
  }
  .font-24r {
    font: var(
      --font-24r
    );
  }
  .font-26b {
    font: var(
      --font-26b
    );
  }
  .font-26r {
    font: var(
      --font-26r
    );
  }

  .rounded-sm {
    border-radius: var(
      --radius-sm
    );
  }
  .rounded-md {
    border-radius: var(
      --radius-md
    );
  }
  .rounded-lg {
    border-radius: var(
      --radius-lg
    );
  }
  .rounded-xl {
    border-radius: var(
      --radius-xl
    );
  }
}

/* date-picker */
/* 화살표 */
.rdp-root
  .rdp-button_next,
.rdp-root
  .rdp-button_previous {
  position: absolute;
  transform: translateX(
    0
  );
}
.rdp-root
  .rdp-button_next {
  right: calc(
    50% -
      77px
  );
}
.rdp-root
  .rdp-button_previous {
  left: calc(
    50% -
      77px
  );
}
/* 모달 전체 틀, 월 */
.rdp-months
  .rdp-chevron {
  fill: var(
    --color-t2
  );
}
.rdp-root
  .rdp-months {
  display: contents;
}
.rdp-root
  .rdp-month_grid {
  width: 100%;
}
.rdp-root
  .rdp-day_button {
  margin: 0
    auto;
}

/* 선택된 날짜 */
.rdp-weeks
  .rdp-selected,
.rdp-weeks
  .rdp-day_selected {
  position: relative;
  background: transparent;
  font-weight: normal;
  font-size: 14px;
}

.today-marker {
  position: relative;
  margin-bottom: 10px;
}
.today-marker
  button.rdp-day_button {
  display: flex;
  width: 38px;
  height: 38px;
  justify-items: center;
  align-items: center;
  color: var(
    --color-t1
  );
  border: 1px
    solid
    var(
      --color-t5
    );
  border-radius: 50%;
}
.rdp-range_middle
  .rdp-day_button {
  background: #edfff5;
}
.rdp-weeks
  .rdp-range_end
  .rdp-day_button,
.rdp-weeks
  .rdp-range_start
  .rdp-day_button {
  background-color: var(
    --color-main1
  );
  border: 0;
}
/* 선택됐을때 바탕색 */
.rdp-weeks
  .rdp-range_start
  .rdp-day_button::after,
.rdp-weeks
  .rdp-range_end
  .rdp-day_button::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(
    -50%
  );
  width: 50%;
  height: 100%;
  background: #edfff5;
  z-index: -1;
}

/* 오른쪽 배경 */
.rdp-weeks
  .rdp-range_start
  .rdp-day_button::after {
  right: 0;
}

/* 왼쪽 배경 */
.rdp-weeks
  .rdp-range_end
  .rdp-day_button::before {
  left: 0;
}

/* start+end가 같은 날인 경우에는 before/after를 모두 제거 */
.rdp-weeks
  .rdp-range_start.rdp-range_end
  .rdp-day_button::before,
.rdp-weeks
  .rdp-range_start.rdp-range_end
  .rdp-day_button::after {
  content: none;
}

.rdp-weeks
  .rdp-range_middle {
  color: var(
    --color-t1
  );
  background: #edfff5;
}
.today-marker::after {
  content: '오늘';
  display: block;
  text-align: center;
  margin-top: 2px;
  font: var(
    --font-10b
  );
  color: var(
    --color-t2
  );
}
.disabled-day {
  color: #ddd;
  pointer-events: none;
}

.custom-toast {
  background-color: #212221b2 !important;
  color: white !important;
  border-radius: 8px !important;
  padding: 10px
    10px !important;
  font-size: 14px;
  box-shadow: none;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
